<div style=" display: flex;justify-content: center;margin-top: 9rem;">
<div class="card text-center" style="width: 30rem;">
    <div class="card-header">
      About the project
    </div>
    <div class="card-body">
      <h5 class="card-title">Todo Cards</h5>
      <p class="card-text">This is a simple task tracker application which helps you to keep an eye on your tasks, This uses local storage to store your data so even if you close the browser no need to worry, tasks will appear once you visit again</p>
      <a href="https://github.com/Shreyas-BalajiN" class="btn btn-primary">Visit my github</a>
    </div>
    <div class="card-footer text-body-secondary">
        Designed by Shreyas Balaji Nagaraja
    </div>
  </div>
</div>