  <h4 style="justify-content: center;display: flex;">Add a task</h4> <br />
  <div style="justify-content: center;display: flex;">
  <div class="card" style="width: 18rem; margin-bottom: 1rem">
  <div class="container">
      <br />
      <h5>Title</h5><input type="text" [(ngModel)]="title" id="tas" class="text"/> <br /><br />
      <h5>Description</h5><input type="text" [(ngModel)]="description" id="tas" class="text"/> <br /><br />

  </div>
<button type="button" class="btn btn-primary" (click)="handleadd()">Add task</button>
</div>
</div>
<br />
<h4 style="justify-content: center;display: flex;">Your current tasks</h4> <br />
<div *ngFor="let Todo of todos;index as i">
    <app-todo-items [todo]=Todo [i]="i" (deleteEvent)="handleDelete($event)" (doneEvent)="handleDone($event)"></app-todo-items>
</div>
